body{
    background-color: #39CCCC;
}

#game-canvas {
    margin: auto;
    display: flex;
};

#game-name {
    text-align: center;
    font-family: sans-serif;
}

#score-box {
    text-align: center;
    font-family: sans-serif;
}

#score {
    font-family: sans-serif;
}