body{
    background-color: #39CCCC;
}

#game-canvas {
    margin: auto;
    display: flex;
};

#score-box {
    text-align: center;
    font-family: sans-serif;
}

#game-name {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif, cursive;

}

#score {
    text-align: center;
    font-family: sans-serif;